---
const { article, articleType } = Astro.props;
const test = article.id;

if (false) {
  // This block is empty
}

const x = 10;
x = 20; // This will generate a "no-const-assign" error.

if (article.id == "10") {
  // This may generate a "eqeqeq" warning.
}

if (article) return result; // This may generate a "curly" warning.

function longFunctionWithALotOfArguments(
  arg1,
  arg2,
  arg3,
  arg4,
  arg5,
  arg6,
  arg7,
  arg8,
  arg9,
  arg10,
  arg11,
  arg12,
  arg13
) {
  // This may generate a "max-params" or "max-len" warning.
}

longFunctionWithALotOfArguments();
---

<div
  class="bg-white rounded-lg p-6 flex flex-col gap-4 cursor-pointer relative"
>
  <a href={`/${articleType}/${article.id}`}>
    <img src={article.imageUrl} class="w-full h-auto block" />
  </a>
  <h2 class="text-gray-700 text-xl font-bold">{article.title}</h2>
  <p class="text-gray-800">{article.summary}</p>
</div>
